* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navMain {
  height: 60px;
  padding-top: 5px;
  margin-bottom: 2em;
  background-color: #3d5fbd;
}

.navMain-menu {
  width: 50px;
  position: absolute;
  cursor: pointer;
}

.navMain-title {
  text-align: center;
  font-size: 40px;
}

#map {
  display: block;
  width: 80%;
  height: 45em;
  margin: 0 auto;
  background-image: url('../images/mapa.png');
}


/* Filter Form */

.secFilterForm {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.secFilterFormBehaviour {
  display: block;
}

.cntFilterForm {
  width: 480px;
  height: 400px;
  background-color: #d9d9d9;
  margin: 70px 0 0 5px;
  border-radius: 5px;
}

.cntForm-title {
  text-align: center;
}


/* Forumulario */
.cntFilterForm {
  padding: 0 10px;
}

.cntFilterForm label {
  display: block;
}

.cntFilterForm input[type="text"] {
  padding: 1em;
  border-radius: 5px;
  border: solid 1px #333333;
}

.cntFilterForm-btnApply {
  width: 100%;
  padding: 1em 0;
  background: transparent;
  border: solid 1px #333333;
  border-radius: 20px;
  background-color: #3d5fbd;
  color: #FFFFFF;
}