@use '_variables.scss' as colors;
/* Filter Form */

.secFilterForm {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.secFilterFormBehaviour {
  display: block;
}

.cntFilterForm {
  width: 480px;
  height: 400px;
  background-color: colors.$back_color_cntForm;
  margin: 70px 0 0 5px;
  border-radius: 5px;
}

.cntForm-title {
  text-align: center;
}


/* Forumulario */
.cntFilterForm {
  padding: 0 10px;
}

.cntFilterForm label {
  display: block;
}

.cntFilterForm input[type="text"] {
  padding: 1em;
  border-radius: 5px;
  border: solid 1px #333333;
}

.cntFilterForm-btnApply {
  width: 100%;
  padding: 1em 0;
  background: transparent;
  border: solid 1px #333333;
  border-radius: 20px;
  background-color: colors.$back_color_btnForm;
  color: colors.$text_color_btnForm;
}
